<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Todo</title>
</head>

<body>
    <main>
        {% for entry in entries %}
        <div>
            <p>id: {{ entry.id }}, text: {{ entry.text }}</p>
            <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{ entry.id }}">
                <button>delete</button>
            </form>
        </div>
        {% endfor %}
    </main>

    <sub>
        <form action="/add" method="post">
            <div>
                <input name="text" type="text" placeholder="text">
            </div>
            <div>
                <button>add</button>
            </div>
        </form>
    </sub>
</body>

</html>